html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100vw;
  min-height: 100vh;
}

.content {
  height: calc(100vh - 64px);
}

@media only screen and (min-width: 768px) {
  .App {
    flex-flow: row;
  }

  .content {
    min-height: 100vh;
  }
}
